# Calculate Area of wetlands

***
## Getting started

To run this analysis, run all the cells in the notebook, starting with the "Load packages" cell.

### Load Packages

In [1]:
import datacube
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import rioxarray as rio
import xarray as xr
from datacube.testutils.io import rio_slurp_xarray
from datacube.utils.cog import write_cog
from datacube.utils.masking import mask_invalid_data
from deafrica_tools.classification import sklearn_flatten, sklearn_unflatten
from deafrica_tools.plotting import display_map, plot_lulc
from matplotlib import colors as mcolors
from matplotlib.colors import ListedColormap
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

### Analysis Parameters

* `pred_tif`: The path and name of the prediction GeoTIFF output in the previous notebook.
* `ouput_dir`: A folder location to store the classified GeoTIFFs.

In [2]:
class_dict = {
    "Cropland": 1,
    "Dense Forest": 2,
    "Open Forest": 3,
    "Open Grassland": 4,
    "Open Water": 5,
    "Otherland": 6,
    "Settlements": 7,
    "Vegetated Wetland": 8,
    "Wooded Grassland": 9,
}

In [3]:
years = ["1987", "2000", "2007", "2017"]

output_dir = "results"

In [4]:
# Get the area of each land cover class in the prediction images.
results = {}
for year in years:
    pred_tif = f"{output_dir}/prediction_{year}.tif"
    # Load the pixel-based prediction raster.
    pred = rio.open_rasterio(pred_tif).squeeze()
    # Get the resolution i.e. actual ground distance represented by the length of a single pixel in meters.
    pixel_length = pred.geobox.resolution[1]
    # Conversion from metres to kilometres.
    m_per_km = 1000
    # Get the actual ground area represented by each pixel.
    area_per_pixel = (pixel_length / m_per_km) ** 2
    # Use the numpy np.unique function to return the pixel count for each land cover class.
    counts = np.unique(pred, return_counts=True)
    # Calculate the area of each land cover class.
    areas = np.array(counts[1] * area_per_pixel)
    results[year] = dict(zip(class_dict.keys(), areas))


# Convert the results dictionary into a pandas DataFrame.
results_df = pd.DataFrame.from_dict(results).style.set_caption("Land cover class area in $km^2$").set_table_styles(
        [{"selector": "caption", "props": [("font-weight", "bold"), ("font-size", "16px")]}])
 
results_df